html {
    height:100%;
  }
  body{
    background-image: linear-gradient(147deg, #923cb5 0%, #000000 74%);
    background-repeat: no-repeat;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
  }

  footer {
      text-align: center;
      padding: 3px;
      background-color: DarkSalmon;
      color: white;
    }

    .topnav {
        overflow: hidden;
        background-color: #333;
      }
      
      .topnav a {
        float: left;
        color: #f2f2f2;
        text-align: center;
        padding: 14px 16px;
        text-decoration: none;
        font-size: 17px;
      }
      
      .topnav a:hover {
        background-color: #ddd;
        color: black;
      }
      
      .topnav a.active {
        background-color: #04AA6D;
        color: white;
      }


    .button_gotop{
      display: block;
      border: 2px solid azure;
    width: 10%;
    background-color: #04AA6D;
    padding: 7px 14px;
    font-size: 20px;
    cursor: pointer;
    text-align: center;  
    border-radius: 12px;
    transition-duration: 0.4s;
  }
  
  .button_gotop:hover{
      background-color: #4CAF50; /* Green */
      color: white;
    }


    .welcome{
        background-image: url("./Roasted_coffee_beans.jpg");
        background-size: cover;
        background-repeat: no-repeat;
        background-attachment: fixed;
        width: 75%;
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 200px;
        font-size: 190px;
      }
      
    
    .sectionNavigation__link a,.sectionNavigation__link a:visited{
        color:black;
        font-weight:700
    }

    

    
